@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 17px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.wrapper-inner {
    width: 1230px;
    margin: 0 auto;
}

header[role='banner'] {
    border-bottom: 10px solid #f0f0f0;
    padding: 35px 0;
    flex-grow: 0;
}

header[role='banner'] .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    display: block;
    text-align: center;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
}

.phone-block-number {
    display: block;
}

/* footer */

footer[role='contentinfo'] {
    background: #f0f0f0;
    padding: 70px 0;
    flex-grow: 0;
}

footer[role='contentinfo'] .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-right {
    text-align: right;
}

/* main */

main {
    flex-grow: 1;
}

article p {
    margin: 25px 0;
    text-align: justify;
}

.image-wrapper {
    max-width: 50%;
    float: left;
    margin: 0 25px 15px 0;
    border: 10px solid #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.image-wrapper img {
    width: 100%;
    height: auto;
}